.product-list {
    width: 100%;
}

.create-product-link {
    text-decoration: none;
}

.create-product-link:hover {
    text-decoration: underline;
    color: #2e71b4;
}

.product-table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}