.user-list {
    width: 100%;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .page-move {
    font-size: 1.5rem;
    cursor: pointer;
}

.pagination .page-move:hover {
    color: #0056b3;
}

.pagination input {
    padding: 5px 0;
    width: 50px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.pagination input::-webkit-outer-spin-button,
.pagination input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pagination input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.list-container {
    overflow: hidden;
    position: relative;
}

.list-header h2 {
    color: #000;
}

.user-table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}


.user-table th,
.user-table td {
    padding: 15px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.user-table th {
    background: #f7f7f7;
    color: #2c3e50;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-table tr:nth-child(odd) {
    background-color: #fff;
}

.user-table tr:hover {
    background: #f0f8ff;
}

.user-status-active {
    color: #27ae60;
}

.user-status-banned {
    color: #e74c3c;
}

.action {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 5px;
    text-align: center;
}

.action:hover {
    color: #3498db;
    transform: scale(1.1);
}

.table-footer {
    position: sticky;
    bottom: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 20px;
}