.main {
    padding: 30px;
    margin-top: 80px;
    flex: 1;
}

.banner {
    background-image: url('../../../public/Banner1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 450px;
    text-align: center;
    padding: 0;
    margin: 0 50px 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); 
}

.banner h2 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    color: #FF9800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner p {
    font-size: 1.5rem;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.search-form {
    display: inline-flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #FF9800;
    border-radius: 30px;
    width: 600px;
    padding: 5px 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.search-input {
    border: none;
    padding: 12px;
    font-size: 1.1rem;
    width: 350px;
    border-radius: 30px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.filter-select {
    margin-left: 10px;
    padding: 12px;
    font-size: 1.1rem;
    border: 1px solid #FF9800;
    border-radius: 30px;
    background-color: #fff;
    color: #333;
}

.search-button {
    background-color: #FF9800;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #e68900;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
    margin: 20px 100px;
    justify-items: center;
}

.card-link {
    text-decoration: none;
    display: block;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-height: 600px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

.card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card p {
    font-size: 1rem;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FF9800;
    margin-top: 5px;
    white-space: nowrap;
}

.divider {
    border: 0;
    border-top: 2px solid #FF9800;
    margin: 40px 250px;
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 10px 30px;
    }
    
    .search-form {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .banner {
        margin: 0 10px;
        height: 300px;
    }

    .banner h2 {
        font-size: 2.5rem;
    }

    .banner p {
        font-size: 1.2rem;
    }
}
