.main {
    padding: 30px;
}

.banner {
    background-image: url('https://i.pinimg.com/736x/8f/d9/80/8fd980799c7a8292943dde2225236518.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 500px;
    text-align: center;
    padding: 0;
    /* Gỡ bỏ padding mặc định để sử dụng flex */
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    /* Thêm flexbox để căn giữa chữ */
    display: flex;
    flex-direction: column;
    /* Đảm bảo căn giữa theo chiều dọc */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    text-align: center;
    /* Căn giữa văn bản */
}

.banner h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.banner p {
    font-size: 1.5rem;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.search-container {
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    margin-bottom: 40px;
}


.search-form {
    display: inline-flex;
    align-items: center;
    border: 2px solid #ff9800;
    border-radius: 30px;
    padding: 5px 10px;
}

.search-input {
    border: none;
    padding: 10px;
    font-size: 1rem;
    width: 250px;
    border-radius: 30px;
    outline: none;
}

.filter-select {
    margin-left: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ff9800;
    border-radius: 30px;
    background-color: #fff;
    color: #333;
}

.search-button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #e68900;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
}

.card {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

    /* Căn giữa nội dung trong card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
}