.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
    margin-top: 80px;
    min-height: 90vh;
}

.product-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1A1A1A;
    text-align: left;
    margin-bottom: 20px;
}

.product-content {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    max-width: 1200px;
}

.product-image {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid #FF9800;
}

.product-info {
    max-width: 600px;
    font-size: 1rem;
    color: #1A1A1A;
}

.product-info h2 {
    font-size: 2.0rem;
    font-weight: bold;
    color: #1A1A1A;
}

.divider {
    border: 0;
    border-top: 2px solid #FF9800;
    margin: 8px 100px 20px;
}

.product-info p {
    margin: 10px 20px;
    font-size: 1.2rem;
}

.product-info strong {
    font-weight: bold;
}

.price {
    font-size: 1.5rem;
    color: #FF9800;
    font-weight: bold;
}

.action-buttons {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 15px;
}

.add-to-cart {
    background-color: #2ECD46;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.buy-now {
    background-color: #FF0000;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.add-to-cart span {
    display: flex;
    align-items: center;
}

.add-to-cart:hover {
    background-color: #31a342;
}

.buy-now:hover {
    background-color: #c91212;
}

.decrement,
.increment {
    background-color: #FF9800;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.decrement:disabled,
.increment:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}


.quantity-controls button {
    background-color: #FF9800;
    color: white;
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; 
}

.quantity-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.quantity {
    margin: 0 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .product-detail {
        flex-direction: column;
        align-items: center;
    }

    .product-content {
        flex-direction: column;
        align-items: center;
    }

    .product-image img {
        max-width: 100%;
    }

    .product-info {
        max-width: 100%;
        text-align: center;
    }
}