header {
    width: 100%;
    font-family: 'Arial', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70px;
    background-color: #1A1A1A;
    color: #fff;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A1A;
    padding: 0 20px;
    height: 100%;
}

.header-main .logo {
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.header-main .logo img {
    width: 50px;
    height: 30px;
    margin-right: 10px;
}

.header-main .logo h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #FF9800;
}

.header-main nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-main nav ul li {
    margin: 0 15px;
}

.header-main nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: large;
    font-weight: 500;
    transition: color 0.3s ease;
}

.header-main nav ul li a:hover {
    color: #00B0FF;
}

nav ul li a.header-active {
    background-color: #1A1A1A;
    color: #FF9800;
    font-weight: 600;
}

@media (max-width: 768px) {
    .header-main {
        flex-direction: column;
        padding: 10px;
    }

    .header-main .logo {
        margin-bottom: 10px;
        justify-content: flex-start;
        width: 100%;
    }

    .header-main nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #1A1A1A;
        padding: 20px 0;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 1000;
    }

    .header-main nav ul li {
        margin: 10px 0;
    }

    .header-main nav ul li a {
        font-size: 1.2rem;
    }

    .header-main nav ul li a.active {
        font-weight: 600;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 50px;
    }

    .hamburger-menu div {
        width: 30px;
        height: 3px;
        background-color: #00B0FF;
        margin: 6px 0;
    }
}

.nav-open nav ul {
    display: flex;
}

.user-menu {
    position: relative;
}

.username {
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s ease;
}

.username:hover {
    color: #00B0FF;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #1A1A1A;
    border: 1px solid #00B0FF;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 0;
}

.dropdown-menu .dropdown-item {
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #FF5722;
    color: white;
}

.logout {
    cursor: pointer;
    font-weight: 600;
}

.logout:hover {
    background-color: #FF5722;
    color: white;
}