header {
    width: 100%;
    color: white;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70px; 
    background-color: #FFF8E7; 
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8E7;
    padding: 0 20px; 
    height: 100%;
}

.header-main .logo {
    display: flex;
    align-items: center;
}

.header-main .logo img {
    width: 50px; 
    height: 30px; 
    margin-right: 10px;
}

.header-main .logo h1 {
    font-size: 1.5rem; 
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #FF9800; 
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    text-decoration: none;
    color: #000000; /* Màu mặc định của các liên kết */
    font-size: large;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #FF9800; /* Màu khi hover */
    transform: scale(1.1);
}

nav ul li a.active {
    color: #FF9800; /* Màu khi active */
    font-weight: 600;
}

body {
    padding-top: 70px; /* Đảm bảo nội dung không bị che bởi header */
}
