/* Import Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5f41e4;
}

#root {
    width: 100%;
    padding: 0 0.6rem;
}

.forgot-container {
    max-width: 410px;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.forgot-container .form-title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1.87rem;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.forgot-form .input-wrapper {
    height: 54px;
    width: 100%;
    margin-bottom: 1.5rem;
}

.forgot-form .input-wrapper .input-field {
    height: 100%;
    width: 100%;
    padding: 0 1.25rem 0 3.12rem;
    border: 1.25px solid #bfb3f2;
    border-radius: 0.31rem;
    outline: none;
    font-size: 1.06rem;
    transition: 0.2 ease;
}

.forgot-form .input-wrapper .input-field::placeholder {
    color: #a395e0;
}

.forgot-form .input-wrapper .input-field:focus {
    border: 1.5px solid #5f41e4;
}

.forgot-form .input-wrapper i {
    color: #a395e0;
    position: absolute;
    margin-top: 27px;
    transform: translateY(-50%);
    font-size: 1.4rem;
}

.forgot-form .input-wrapper i:not(.fa-eye-slash, .fa-eye) {
    right: 57rem;
    pointer-events: none;
}

.forgot-form .input-wrapper i.fa-eye-slash,
.forgot-form .input-wrapper i.fa-eye {
    font-size: 1.25rem;
    right: 37.5rem;
    margin-top: 85px;
    cursor: pointer;
    display: none;
}

.forgot-form .input-wrapper .input-field:valid~i.fa-eye-slash,
.forgot-form .input-wrapper .input-field:valid~i.fa-eye {
    display: block;
    margin-top: -27px;
}

.fa-lock {
    padding-right: 3px;
}

.forgot-form .input-wrapper .input-field:focus~i {
    color: #5f41e4;
}

.forgot-form .forgot-button {
    width: 100%;
    height: 54px;
    margin-top: 0.5rem;
    background: #5f41e4;
    cursor: pointer;
    outline: none;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 500;
    border-radius: 0.31rem;
    border: none;
    transition: 0.2 ease;
}

.forgot-form .forgot-button:hover {
    background: #4320df;
}


.forgot-container .back-text {
    text-align: center;
    margin: 1.75rem 0 0.1rem;
    font-weight: 500;
    color: #4320df;

}

.forgot-container a {
    text-decoration: none;
    font-weight: 500;
    color: #5f41e4;
}

.forgot-container a:hover {
    text-decoration: underline;
}